body {
    background-color: darkslategray;
color : white;
}

@media only screen and (max-width: 1000px) {
    body {
      background-color: black;

    }

    h1 {
        display: none;
     }
    }